body {
	background: #ffffff;
	color:#3E4649;
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	color: #3e4649;
	text-align: center;
}
p {
	font-size: 16px;
	color:#3E4649;
	padding: 12px;
	margin: 12px;
}
a {
	font-size: 24px;
}
li{
	list-style-type: none;
}
footer{
	text-align: center;
	padding-bottom: 24px;
	background-color: white;
	padding-top: 24px;
}
.navbar {
	margin-bottom: 0;
}
.jumbotron {
	background-image: url(img/tortu-bg.jpg);

    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
}
.jumbotron h2{
	
}
.jumbotron p {
	color: #2E2F31;
	font-size: 26px;
}
.jumbotron h1{
	color: #2E2F31;
}
.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}
.dropdown-menu li a {
	padding: 10px;
}
.btn-primary {
	color: #2E2F31;
	background-color: transparent;
	border-color: #2E2F31;
	margin-bottom: 5px;
}
#myCarousel img{
	max-width: 720px;
	max-height: 720px;
	text-align: center;
}
#myCarousel2 img{
	max-width: 720px;
	max-height: 720px;
	text-align: center;
}
.btn-primary:hover {
	color: red;
	background-color: white;
	border-color: white;
}
.glyphicon-large {
	font-size: 100px;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.testimonials{

}
.navbar-inverse .navbar-nav li a:hover {
	background: red;
}
.jumbotron {
	color: white;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar-inverse .navbar-nav li a:hover {
	background: red;
}
.btn-primary:hover {
	color: red;
	background-color: white;
	border-color: white;
}
.container{
	display: block;
	text-align: center;
}
#about{
	background-image: url("img/tortu-bg.png");
	color: white;
	font-size: 34px;
	text-align: center;
	padding-bottom: 24px;
}
.about-avatar{
	border-radius: 50%;
}
#clients{
	background-color: white;
}
#projects{
	background-color: white;
	padding-bottom: 32px;
}
#resume{
	background-color: white;
	color: #2E2F31;
}
p, h3{
	text-align: center;
}

body {
	background-image: url("img/fullscreen_bk.png");
	background-color: #cccccc;
 }

 .carousel-inner img{
		max-height:250px;
		width:auto;
 }
